#root {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#app_container {
  width: 1000px;
}

.container {
  width: 1000px;
}

.row {
  height: 30px;
}

.grey-color {
  background-color: #f3f3f3;
}
